<section>
  <h1><i class="icon-barcode icon-laree"></i> About</h1>
  <p><i class="icon-user icon-small"></i> Tim DuBois<br>
  <i class="icon-globe icon-small"></i> Melbourne, Australia<br>
  <i class="icon-envelope icon-small"></i> <a href="mailto:&#116;&#105;&#109;&#064;&#110;&#101;&#111;&#112;&#104;&#105;&#108;&#117;&#115;&#046;&#110;&#101;&#116;">&#116;&#105;&#109;&#064;&#110;&#101;&#111;&#112;&#104;&#105;&#108;&#117;&#115;&#046;&#110;&#101;&#116;</a><br>
  <i class="icon-key icon-small"></i> <a href="https://gist.github.com/5070333">0xC1DCC569</a>
  </p>
</section>
<div class="asideb"></div>
