<script src="{{ root_url }}/javascripts/jquery.parallax.js"></script>
<script type="text/javascript">
  
  jQuery(document).ready(function(){
      // Declare parallax on layers
    jQuery('.parallax-layer').parallax({
        mouseport: jQuery("#port")
     });
  });

   function disqreset(){   
      var disqus_url = '{{ site.url }}{{ page.url }}';
      DISQUS.reset({
          reload: true,
          config: function () {  
              this.page.url = disqus_url;
           }
      });
   }


</script>


