---
layout: default
---

{% unless page.sidebar == false %}
<aside class="sidebar">
  {% if site.page_asides.size %}
    {% include_array page_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
{% endunless %}
<div id="toLoad">
<div id="content">
<div class="article_t"></div>
<article role="article">
  {% if page.title %}
  <header>
    <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
  </header>
  <div class="blueline"></div>
  {% endif %}
  {{ content }}
  {% unless page.footer == false %}
    <footer>
      {% unless page.sharing == false %}
        {% include post/sharing.html %}
      {% endunless %}
    </footer>
  {% endunless %}
</article>
<div class="article_b"></div>
{% unless page.url contains 'archives' or page.url contains 'categories' %}
<div class="article_footer">
  <div class="article_footer_s">
    {% if page.date %}<p class="meta">{% include post/date.html %}{{ time }}</p>{% endif %}
  </div>
</div><div class="article_footer_b"></div>
{% endunless %}
{% if site.disqus_short_name and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
</div>
</div>
