article {
  position: relative;
  background: $article-bg;
  overflow: hidden;
  padding: 8px 23px 8px 23px;
  min-height: 50px;
  a { @extend .force-wrap; }
  header {
    width: auto;
    height: auto;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    h1 {
      margin: 0;
      a { text-decoration: none;
        &:hover { text-decoration: underline; } }
    }
    p {
      font-size: .9em;
      text-align: justify;
      color: $text-color-light;
      margin: 0;
      &.meta {
        @extend .sans;
        text-transform: uppercase;
        position: absolute; top: 0;
      }
    }
  }
  h2 {
    padding-top: 0.8em;
    background: $img-border top left repeat-x;
  }
  .entry-content & h2:first-child, header + h2 { padding-top: 0; }
  h2:first-child, header + h2 { background: none; }
  .feature {
    padding-top: .5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    background: $img-border bottom left repeat-x;
    font-size: 2.0em; font-style: italic;
    line-height: 1.3em;
  }
  img, video, .flash-video {
    @extend .flex-content;
    @extend .basic-alignment;
    @include shadow-box;
  }
  video, .flash-video { margin: 0 auto 1.5em; }
  video { display: block; width: 100%; }
  .flash-video {
    > div {
      position: relative;
      display: block;
      padding-bottom: 56.25%;
      padding-top: 1px;
      height: 0;
      overflow: hidden;
      iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  > footer {
    width: 700px;
    margin-top: 2em;
    @extend .sans;
    p.meta {
      font-size: .85em;
      clear: both;
      overflow: hidden;
    }
    .categories { color: darken($text-color, 10); }
    .byline + time:before, time +time:before, .comments:before, .byline ~ .categories:before {
      @extend .separator;
    }
  }

}
article + article {
  .blog-index & {
    background: $img-border top left repeat-x;
  }
}
#content .blog-index {
  padding: { top: 0; bottom: 0; }
  article { padding-top: 2em; }
  article header { background: none; padding-bottom: 0; }
  article h1 {
    font-size: 2.2em;
    a { color: inherit; &:hover { color: $link-color-hover; } }
  }
  a[rel=full-article] {
    background: darken($main-bg, 5);
    display: inline-block;
    padding: .4em .8em;
    margin-right: .5em;
    text-decoration: none;
    color: mix($text-color, $text-color-light);
    @extend .serif;
    @include transition(background-color .5s);
    &:hover {
      background: $link-color-hover;
      text-shadow: none;
      color: $main-bg;
    }
  }
  footer {
    @extend .sans;
    margin-top: 1em;
  }
}

.separator {
  content: "\2022 ";
  padding: 0 .4em 0 .2em;
  display: inline-block;
}

#content div.pagination {
  text-align: center;
  font-size: .95em;
  position: relative;
  background: $img-border top left repeat-x;
  padding: {top: 1.5em; bottom: 1.5em;}
  a {
    text-decoration: none;
    color: $text-color-light;
    &.prev { position: absolute; left: 0; }
    &.next { position: absolute; right: 0; }
    &:hover { color: $link-color-hover; }
    &[href*=archive] {
      &:before, &:after { content: '\2014'; padding: 0 .3em; }
    }
  }
}

#flourishover {
  position: absolute;
  height: 56px;
  width: 32px;
  top: 250px;
  left: -webkit-calc(50% - 527px);
  left: -moz-calc(50% - 527px);
  left: calc(50% - 527px);
  background: $flourover;
  z-index:10;
}

  .article_t, .article_b {
    position: relative;
    width: 762px;
    height: 12px;
    line-height: 12px;
  }
  .article_t{
    background: $article-t-bg;
  }
  .article_b{
    background: $article-b-bg;
    margin-bottom: 10px;
  }
  .article_footer{
    background: $article-foot-bg;
    margin: -12px 5px 0px 5px;
  }
  .article_footer_s{
    padding: 2px 23px 2px 23px;
    color: lighten($text-color, 20);
   a {
       color: lighten($text-color, 10);
       &:hover { color: $link-color-hover; }
     } 
    
    overflow: hidden;
    height: 20px;
    margin: 0px 5px 0px 5px;
    background: $article-foot-s;
  }
  .article_footer_b{
    margin: 0px 5px 10px 5px;
    background: $article-foot-s;
    height: 8px;
    line-height: 8px;
    overflow: hidden;
    background: $article-foot-b;
  }
.blueline { 
    margin-bottom: 15px;;
    height: 1px;
    background: rgb(16,155,255);
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, rgb(16,155,255)));
}
