footer {
  @extend .sans;
  font-size: .8em;
  color: $footer-color;
  text-shadow: lighten($footer-bg-c, 5) 0 1px;
  position: relative;
  width: 1160px;
  margin:0 auto;
  margin-top: 10px;
  clear: both;
  a {
    @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
  }
  p { margin: 0px; padding: 20px; }
}

#footer_bg{
  clear: both;
  background: #171717 $footer-bg;
}
#footer_s{
  background: $footer-s;
}
#footer_shadow{
  float: left;
  clear: both;
  width: 99.9999%;
  height: 30px;
  margin-top: -20px;
  background: $footer-shad;
}

