aside.sidebar {
  overflow: hidden;
  color: $sidebar-color;
  text-shadow: 1px 1px 0 #000;
  a { @extend .force-wrap; }
  section {
    @extend .sans;
    background: $aside-bg;
    z-index: 5;
    padding: 0px 20px 20px 20px;
    h1 {
      height: 50px;
      padding-top: 10px;
      text-align: center;
      + p {
          margin-bottom: 0px;
      }
    }

    a {
     color: inherit;
     @include transition(color .5s);
    }
    &:hover a {
     color: $sidebar-link-color;
     &:hover { color: $sidebar-link-color-hover; }
   }
  }
  img {
    @extend .flex-content;
    @extend .basic-alignment;
    @include shadow-box($border: #fff .3em solid);
  }
  ul {
    margin-bottom: 0.5em;
    margin-left: 0;
  }
  li {
    list-style: none;
    margin: 0;
    p:last-child {
      margin-bottom: 0;
    }
  }
}
.aside-alt-link {
  color: $sidebar-link-color-subdued;
  &:hover {
    color: $sidebar-link-color-subdued-hover;
  }
}

.asideb {
  width: 280px;
  height: 6px;
  line-height: 6px;
  background: $aside-b-bg;
  margin-bottom: 12px;
}

