<ul class="subscription" data-subscription="rss{% if site.subscribe_email %} email{% endif %}">
  <li><a href="{{ site.subscribe_rss }}" title="subscribe via RSS"><i class="icon-rss icon-large"></i></a></li>
  {% if site.subscribe_email %}
    <li><a href="{{ site.subscribe_email }}" rel="subscribe-email" title="subscribe via email">Email</a></li>
  {% endif %}
</ul>
  {% if site.simple_search %}
  <script type="text/javascript">
    var inputElement = document.createElement("input");
    var chromeSearch = ('onsearch' in inputElement);
    //var firefoxSearch = ('onchange' in inputElement);
    if (chromeSearch) {
      jQuery('nav').append("<input class=\"search\" name=\"q\" type=\"search\" results=5 autosave=5 placeholder=\"Search\" onsearch=\"search(this.value); this.value=''; jQuery(this).blur();\" x-webkit-speech />");
    } else {
      jQuery('nav').append("<input class=\"search\" name=\"q\" type=\"text\" placeholder=\"Search\" onChange=\"search(this.value); this.value=''; jQuery(this).blur();\" />");
    }
    function search(toFind) {
      jQuery('#toLoad').tapir({
             'query_param': toFind,
             'token': '{{ site.tapir_token }}'
             });
       }
  </script>
  {% endif %}
{% include custom/navigation.html %}
