<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
<script type="text/javascript">
  $.noConflict();
</script>
<script src="{{ root_url }}/javascripts/jquery.parallax.js"></script>
<script type="text/javascript">
  
  jQuery(document).ready(function(){
      // Declare parallax on layers
    jQuery('.parallax-layer').parallax({
        mouseport: jQuery("#port")
     });
  });
    
</script>

<!-- Enable png transparency in IE6 -->
<!--[if lt IE 7]>
  <script type="text/javascript" src="js/jquery.ifixpng.js"></script>
< script type="text/javascript">jQuery(document).ready(function(){ jQuery("img[src$='png']".ifixpng(); });</script>
<![endif]-->

