.group { @include pie-clearfix; }

@mixin collapse-sidebar {
  float: none;
  width: auto;
  clear: left;
  margin: 0;
  padding: 0 $pad-medium 1px;
  background-color: lighten($sidebar-bg, 2);
  border-top: 1px solid lighten($sidebar-border, 4);
  section {
    &.odd, &.even { float: left; width: 48%; }
    &.odd { margin-left: 0; }
    &.even { margin-left: 4%; }
  }
  &.thirds section {
    width: 30%;
    margin-left: 5%;
    &.first {
      margin-left: 0;
      clear: both;
    }
  }
}

#content {
  margin: 0px 395px 0px 103px;
}

aside.sidebar {
  width: 280px;
  margin-right: 103px;
  margin-top: 4px;
  float: right;
  padding: 0px;
  @extend .group;
}

.flex-content { max-width: 100%; height: auto; }

.basic-alignment {
  &.left { float: left; margin-right: 1.5em; }
  &.right { float: right; margin-left: 1.5em; }
  &.center { display:block; margin: 0 auto 1.5em; }
  &.left, &.right { margin-bottom: .8em; }
}

.toggle-sidebar { &, .no-sidebar & { display: none; }}

body.sidebar-footer {
   // aside.sidebar{ @include collapse-sidebar; }
  #content { margin-right: 0px; }
  .toggle-sidebar { display: none; }
}

#main, #content, .sidebar {
  @extend .group;
}

#main {
  width: 1260px;
  margin:0 auto;
  overflow: hidden;
  height: 100%;
}

