//images
$noise-bg: image-url('noise.png') top left !default;
$pattern-bg: image-url('bg.jpg');
$lines-bg: image-url('lines.png');
$leftfl-bg: image-url('leftfl.png');
$rightfl-bg: image-url('rightfl.png');
$flourover: image-url('fover.png') no-repeat;
$footer-bg: image-url('footer_bg.png') repeat-x 0 0;
$footer-s: image-url('footer_s.png') no-repeat center 2px;
$footer-shad: image-url('footer_shadow.png') repeat 0 0;
$img-border: inline-image('dotted-border.png');
$aside-bg: image-url('asideo.png') no-repeat;
$aside-b-bg: image-url('asideb.png') no-repeat 0 0;
$article-bg: image-url('article_bg.png') repeat-y 0 0;
$article-t-bg: image-url('article_t.png') no-repeat 0 2px;
$article-b-bg: image-url('article_b.png') no-repeat 0 0;
$article-foot-bg: image-url('article_footer_bg.png') repeat-y 0 0;
$article-foot-s: image-url('article_footer_s.png') no-repeat center 0;
$article-foot-b: image-url('article_footer_b.png') no-repeat 0 0;

// Main Link Colors
$link-color: darken(#535353, 10) !default;
$link-color-hover: #109bff !default;
$link-color-visited: adjust-color($link-color, $hue: 80, $lightness: -4) !default;
$link-color-active: adjust-color($link-color-hover, $lightness: -15) !default;

// Main Section Colors
$main-bg: #f8f8f8 !default;
$page-bg: #252525 !default;
$article-border: #eeeeee !default;

$title-color: #f2f2f2 !default;
$subtitle-color: #aaa !default;

$text-color: #535353 !default;
$text-color-light: #aaa !default;
$type-border: #ddd !default;

/* Navigation */
$nav-bg: #d8d8d8 !default;
$nav-color: darken($nav-bg, 38) !default;
$nav-color-hover: darken($nav-color, 25) !default;
$nav-placeholder: desaturate(darken($nav-bg, 10), 15) !default;
$nav-border: darken($nav-bg, 10) !default;
$nav-border-top: lighten($nav-bg, 15) !default;
$nav-border-bottom: darken($nav-bg, 25) !default;
$nav-border-left: darken($nav-bg, 11) !default;
$nav-border-right: lighten($nav-bg, 7) !default;

/* Sidebar colors */
$sidebar-link-color: $link-color !default;
$sidebar-link-color-hover: $link-color-hover !default;
$sidebar-link-color-active: $link-color-active !default;
$sidebar-color: #f4f4f4 !default;
$sidebar-link-color-subdued: lighten($sidebar-color, 20) !default;
$sidebar-link-color-subdued-hover: $sidebar-link-color-hover !default;
$twitter-status-link: lighten($sidebar-link-color-subdued, 15) !default;

$footer-color: #d8d8d8 !default;
$footer-color: darken($footer-bg, 38) !default;
$footer-color-hover: darken($footer-color, 10) !default;
$footer-link-color: $link-color-hover !default;
$footer-link-color-hover: darken($footer-color, 25) !default;


/* Core theme application */

a {
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
}
aside.sidebar a {
  @include link-colors($sidebar-link-color, $hover: $sidebar-link-color-hover, $focus: $sidebar-link-color-hover, $active: $sidebar-link-color-active);
}
a {
  @include transition(color .3s);
}

html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

/* IE7 Fix */
* html #container {
    display: table;
    height: 100%
}

/* Opera Fix */
body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}

body {
background: $lines-bg, $leftfl-bg, $rightfl-bg, $pattern-bg;
background-repeat: no-repeat, no-repeat, no-repeat, repeat;
background-attachment: scroll, scroll, fixed, scroll;
background-position: 50% 150px, -webkit-calc(50% - 590px) 80px, -webkit-calc(50% + 640px) top, top left;
background-position: 50% 150px, -moz-calc(50% - 590px) 80px, -moz-calc(50% + 640px) top,top left;
background-position: 50% 150px, calc(50% - 590px) 80px, calc(50% + 640px) top, top left;
}

#container {

  height: 100%;
    height: auto !important;
    min-height: 100%;
}

#maincont {
    overflow: auto;
    padding-bottom: 30px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(100,100,100,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100,100,100,0.4);
}

